body{
    background-color: aqua;
}
.box img{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    border-radius: 10%;
    transition-property: width height border-radius;
    transition-duration: 2s;
}

.box img:hover{
    width: 600px;
    height: 600px;
    border-radius: 100%;
    transform:rotate(720deg);
}

#battle{
    width: auto;
    height: 400px;
    background-color: blueviolet;
}

.box{
    display: flex;
    justify-content: space-around;
}

.box2 img:hover{
    transform: translate(0,40%) ;
}
.